body {
	background-color: #0e1930;
}

.mainbackground{
	background-image: no-repeat url("img/backon.jpg");
}
/*
	//////////////////////////////////////////////
	\\\\\\\\\\\\\\\   Скролл  .//////////////////
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

::-webkit-scrollbar {
	background: transparent;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #00bf95;
	box-shadow: inset 0 0 2px #0e1930;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::selection {
	background-color: #00bf95;
	color: white;
}


/*
	//////////////////////////////////////////////
	\\\\\\\\\\\\ ЭФФЕКТ ТРЯСКИ  /////////////////
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/


.floateff {
	animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

/*
	//////////////////////////////////////////////
	\\\\\\\\\\\\\    PRELOADER  /////////////////
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.preloader {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: #0e1930;
	z-index: 1001;
}

.preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #5ec39e;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-bounce {
  
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}


/*
	//////////////////////////////////////////////
	\\\\\\\\\\\\\ Планета + Волна ///////////////
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.parallax > use {
	animation: move-forever 12s linear infinite;
	&: nth-child(1){animation-delay:-2s;
}
  &:nth-child(2) {
	animation-delay: -2s;
	animation-duration: 5s;
}
  &:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 3s;
}
}

@keyframes move-forever {
	0% {
		transform: translate(-90px , 0%);
	}

	100% {
		transform: translate(85px , 0%);
	}
}

@media (max-width:50em) {
	.editorial {
		height: 15vw;
	}
}

.editorial {
	width: 100%; /* 65%; */
	height: 5em;
	display: block;
	max-height: 100vh;
	margin: auto;
}

.planet {
  z-index: -1000;
  vertical-align: middle;
  display: block;
  text-align: center;
  margin: auto;
}

.palef {
	margin-top: 5rem;
}

/* 
@media screen and (max-width: 500px) {

	.palef {
		margin-top: 0;
	}

}

@media screen and (min-width: 1700px) {

	.palef {
		margin-top: 5rem;
	}

} */

.nav{
	text-align: center;
    display: flex;
    justify-content: center;
}

.serverblock{
	background-color: aliceblue;
	width: 50%;
} 

.bubl {
    width: 2px;
    height: 2px;
    border-radius:100%;
    background: transparent;
    box-shadow: 2032px 449px #FFF, 1683px 605px #FFF, 1522px 2312px #FFF, 250px 2364px #FFF, 1767px 976px #FFF, 1009px 319px #FFF, 1975px 1618px #FFF, 440px 953px #FFF, 446px 1170px #FFF, 1040px 1573px #FFF, 356px 2349px #FFF, 2166px 2440px #FFF, 437px 1437px #FFF, 799px 1422px #FFF, 1567px 1725px #FFF, 2479px 1870px #FFF, 2496px 1062px #FFF, 1618px 1916px #FFF, 2097px 2167px #FFF, 1658px 2168px #FFF, 617px 802px #FFF, 218px 1810px #FFF, 2145px 161px #FFF, 1735px 141px #FFF, 1783px 840px #FFF, 59px 477px #FFF, 1518px 754px #FFF, 2343px 388px #FFF, 1097px 2111px #FFF, 2085px 2473px #FFF, 1694px 1492px #FFF, 2154px 674px #FFF, 840px 1964px #FFF, 1908px 1500px #FFF, 2281px 379px #FFF, 689px 223px #FFF, 453px 2098px #FFF, 559px 651px #FFF, 1504px 2385px #FFF, 440px 8px #FFF, 2263px 54px #FFF, 1400px 760px #FFF, 545px 1922px #FFF, 2401px 577px #FFF, 1943px 578px #FFF, 436px 125px #FFF, 1460px 186px #FFF, 2009px 852px #FFF, 94px 746px #FFF, 508px 535px #FFF, 1328px 373px #FFF, 429px 458px #FFF, 1081px 1977px #FFF, 1181px 349px #FFF, 1855px 1894px #FFF, 2352px 824px #FFF, 2023px 2256px #FFF, 574px 998px #FFF, 137px 2128px #FFF, 1415px 1003px #FFF, 1873px 363px #FFF, 530px 223px #FFF, 2400px 1390px #FFF, 1px 2335px #FFF, 939px 189px #FFF, 183px 135px #FFF, 2460px 1522px #FFF, 2031px 1500px #FFF, 2061px 2134px #FFF, 1853px 1147px #FFF, 1749px 1551px #FFF, 261px 1977px #FFF, 1069px 887px #FFF, 2382px 135px #FFF, 1779px 1448px #FFF, 689px 1788px #FFF, 1936px 919px #FFF, 1099px 1910px #FFF, 403px 1923px #FFF, 410px 2061px #FFF, 1735px 850px #FFF, 1787px 235px #FFF, 2382px 300px #FFF, 2083px 952px #FFF, 1207px 1327px #FFF, 1449px 1120px #FFF, 1009px 357px #FFF, 2328px 815px #FFF, 1298px 1844px #FFF, 382px 1028px #FFF, 691px 1360px #FFF, 1302px 1092px #FFF, 79px 1641px #FFF, 2456px 386px #FFF, 1388px 1605px #FFF, 630px 303px #FFF, 2041px 600px #FFF, 890px 1302px #FFF, 925px 2205px #FFF, 690px 1178px #FFF, 242px 1012px #FFF, 177px 2345px #FFF, 1317px 815px #FFF, 406px 867px #FFF, 726px 806px #FFF, 2450px 164px #FFF, 1771px 767px #FFF, 672px 1144px #FFF, 1946px 972px #FFF, 29px 169px #FFF, 1242px 2377px #FFF, 601px 2485px #FFF, 147px 1745px #FFF, 1240px 265px #FFF, 1212px 906px #FFF, 473px 978px #FFF, 2049px 969px #FFF, 1518px 713px #FFF, 1117px 1436px #FFF, 704px 2177px #FFF, 566px 2426px #FFF, 1691px 1239px #FFF, 727px 2370px #FFF, 2035px 2369px #FFF, 1479px 864px #FFF, 1324px 635px #FFF, 1461px 1450px #FFF, 1083px 1543px #FFF, 2334px 791px #FFF, 2273px 2056px #FFF, 2037px 2452px #FFF, 581px 2px #FFF, 904px 1308px #FFF, 919px 1050px #FFF, 1256px 87px #FFF, 342px 476px #FFF, 442px 388px #FFF, 370px 1954px #FFF, 1749px 2185px #FFF, 2291px 128px #FFF, 491px 754px #FFF, 2108px 1170px #FFF, 1126px 202px #FFF, 2413px 81px #FFF, 1602px 1610px #FFF, 1159px 840px #FFF, 1099px 513px #FFF, 219px 2099px #FFF, 1029px 1791px #FFF, 2298px 462px #FFF, 1900px 7px #FFF, 643px 519px #FFF, 2482px 1855px #FFF, 1662px 1743px #FFF, 154px 2259px #FFF, 194px 628px #FFF, 1090px 2062px #FFF, 2348px 957px #FFF, 1889px 375px #FFF, 1897px 603px #FFF, 2284px 1862px #FFF, 1009px 2458px #FFF, 1795px 2067px #FFF, 1272px 792px #FFF, 2105px 1080px #FFF, 902px 918px #FFF, 1460px 1781px #FFF, 2449px 347px #FFF, 1790px 1584px #FFF, 1926px 412px #FFF, 1467px 2123px #FFF, 750px 1974px #FFF, 1470px 880px #FFF, 139px 111px #FFF, 1315px 573px #FFF, 1743px 1542px #FFF, 2315px 2252px #FFF, 2012px 1147px #FFF, 1041px 1655px #FFF, 811px 2130px #FFF, 342px 1852px #FFF, 1070px 1093px #FFF, 1847px 2174px #FFF, 949px 1003px #FFF, 2393px 1819px #FFF, 1458px 1064px #FFF, 262px 5px #FFF, 1421px 434px #FFF, 103px 200px #FFF, 311px 1650px #FFF, 1409px 114px #FFF, 969px 1975px #FFF, 704px 2438px #FFF, 2341px 946px #FFF, 2032px 692px #FFF, 2136px 1084px #FFF, 1931px 13px #FFF, 683px 417px #FFF, 5px 800px #FFF, 610px 2412px #FFF, 1723px 188px #FFF, 1285px 978px #FFF, 1102px 2056px #FFF, 601px 1035px #FFF, 2185px 1871px #FFF, 2206px 1651px #FFF, 546px 1162px #FFF, 489px 1971px #FFF, 1714px 1617px #FFF, 438px 2058px #FFF, 1079px 1821px #FFF, 2447px 423px #FFF, 2111px 466px #FFF, 716px 638px #FFF, 785px 1738px #FFF, 1092px 1386px #FFF, 636px 1351px #FFF, 842px 2172px #FFF, 2196px 1899px #FFF, 1819px 1012px #FFF, 2267px 2432px #FFF, 554px 293px #FFF, 1524px 1479px #FFF, 2012px 532px #FFF, 2472px 1540px #FFF, 1407px 432px #FFF, 189px 1576px #FFF, 2306px 1068px #FFF, 2496px 405px #FFF, 1744px 990px #FFF, 418px 368px #FFF, 657px 2180px #FFF, 291px 1715px #FFF, 1768px 1759px #FFF, 1807px 1714px #FFF, 356px 2349px #FFF, 2382px 2497px #FFF, 2283px 671px #FFF, 1951px 1177px #FFF, 2425px 2263px #FFF, 1307px 812px #FFF, 339px 2124px #FFF, 1747px 487px #FFF, 1210px 21px #FFF, 1867px 2297px #FFF, 633px 2142px #FFF, 1153px 667px #FFF, 431px 1795px #FFF, 2053px 1303px #FFF, 402px 1932px #FFF, 1540px 1364px #FFF, 1463px 2291px #FFF, 1232px 1188px #FFF, 2229px 2363px #FFF, 864px 1957px #FFF, 863px 891px #FFF, 1536px 139px #FFF, 204px 1149px #FFF, 807px 1772px #FFF, 1294px 1053px #FFF, 1708px 107px #FFF, 337px 693px #FFF, 2374px 2293px #FFF, 771px 1058px #FFF, 843px 1539px #FFF, 1180px 181px #FFF, 2045px 1341px #FFF, 1858px 1099px #FFF, 1004px 1423px #FFF, 232px 644px #FFF, 1659px 254px #FFF, 1792px 1066px #FFF, 2179px 1014px #FFF, 2338px 159px #FFF, 281px 2328px #FFF, 1450px 1022px #FFF, 2025px 893px #FFF, 2340px 234px #FFF, 1765px 799px #FFF, 1344px 2206px #FFF, 1206px 2437px #FFF, 1306px 771px #FFF, 1018px 2024px #FFF, 1626px 2469px #FFF, 273px 1175px #FFF, 1758px 905px #FFF, 1049px 2127px #FFF, 990px 338px #FFF, 653px 1483px #FFF, 1435px 1550px #FFF, 1556px 851px #FFF, 1011px 2359px #FFF, 1922px 1315px #FFF, 2401px 1371px #FFF, 976px 43px #FFF, 78px 1243px #FFF, 2408px 498px #FFF, 493px 637px #FFF, 292px 1373px #FFF, 1994px 657px #FFF, 1017px 1663px #FFF, 2456px 1257px #FFF, 414px 2020px #FFF, 441px 175px #FFF, 1020px 632px #FFF, 1455px 1396px #FFF, 510px 720px #FFF, 437px 66px #FFF, 150px 845px #FFF, 819px 60px #FFF, 986px 1052px #FFF, 960px 1107px #FFF, 615px 2381px #FFF, 2014px 282px #FFF, 98px 1754px #FFF, 854px 1685px #FFF, 2367px 935px #FFF, 1102px 1327px #FFF, 46px 347px #FFF, 2171px 1007px #FFF, 595px 527px #FFF, 1482px 1098px #FFF, 923px 2105px #FFF, 687px 2145px #FFF, 988px 123px #FFF, 2174px 2388px #FFF, 2381px 2460px #FFF, 1656px 2273px #FFF, 1545px 2292px #FFF, 919px 1437px #FFF, 165px 249px #FFF, 600px 1102px #FFF, 1759px 1521px #FFF, 1941px 271px #FFF, 1457px 2232px #FFF, 1091px 130px #FFF, 1380px 55px #FFF, 419px 2410px #FFF, 1011px 14px #FFF, 1042px 1034px #FFF, 1241px 501px #FFF, 2421px 2485px #FFF, 346px 1074px #FFF, 1388px 1692px #FFF, 2331px 373px #FFF, 942px 2325px #FFF, 1058px 21px #FFF, 86px 1965px #FFF, 651px 1372px #FFF, 2291px 108px #FFF, 606px 868px #FFF, 1044px 605px #FFF, 1318px 2357px #FFF, 1813px 1383px #FFF, 1964px 1372px #FFF, 1786px 1530px #FFF, 2427px 791px #FFF, 224px 1539px #FFF, 965px 1662px #FFF, 427px 944px #FFF, 1965px 1325px #FFF, 131px 1544px #FFF, 2228px 1700px #FFF, 1982px 1841px #FFF, 2381px 1272px #FFF, 899px 1781px #FFF, 320px 2298px #FFF, 1145px 1483px #FFF, 844px 1431px #FFF, 2379px 1967px #FFF, 1941px 1174px #FFF, 2283px 1582px #FFF, 54px 1107px #FFF, 1235px 1609px #FFF, 2244px 1583px #FFF, 1949px 1689px #FFF, 45px 1812px #FFF, 1306px 48px #FFF, 1909px 69px #FFF, 1469px 1556px #FFF, 453px 832px #FFF, 286px 327px #FFF, 1898px 255px #FFF, 2393px 530px #FFF, 632px 1085px #FFF, 1391px 1673px #FFF, 1238px 2318px #FFF, 1404px 2410px #FFF, 2257px 765px #FFF, 441px 1171px #FFF, 813px 398px #FFF, 1795px 1317px #FFF, 1166px 2102px #FFF, 1739px 1122px #FFF, 1326px 2219px #FFF, 1931px 2292px #FFF, 1247px 271px #FFF, 782px 621px #FFF, 66px 644px #FFF, 492px 2008px #FFF, 429px 762px #FFF, 1198px 173px #FFF, 171px 439px #FFF, 2059px 2219px #FFF, 916px 725px #FFF, 2488px 1438px #FFF, 1096px 1783px #FFF, 2247px 622px #FFF, 2297px 1566px #FFF, 1043px 352px #FFF, 445px 542px #FFF, 2225px 2165px #FFF, 2229px 588px #FFF, 962px 346px #FFF, 1948px 2382px #FFF, 1213px 1640px #FFF, 272px 1898px #FFF, 46px 1685px #FFF, 1001px 1990px #FFF, 2409px 743px #FFF, 1272px 672px #FFF, 1106px 1215px #FFF, 1488px 1730px #FFF, 79px 356px #FFF, 83px 996px #FFF, 2162px 1366px #FFF, 1327px 1279px #FFF, 1430px 676px #FFF, 756px 159px #FFF, 604px 174px #FFF, 24px 1055px #FFF, 1737px 872px #FFF, 1464px 1150px #FFF, 1257px 1902px #FFF, 1870px 1019px #FFF, 2028px 989px #FFF, 853px 2217px #FFF, 678px 2291px #FFF, 224px 435px #FFF, 8px 331px #FFF, 1774px 1753px #FFF, 472px 2102px #FFF, 497px 334px #FFF, 1022px 1498px #FFF, 2114px 1233px #FFF, 845px 1275px #FFF, 1988px 1705px #FFF, 124px 477px #FFF, 73px 155px #FFF, 1116px 1745px #FFF, 200px 2030px #FFF, 1878px 419px #FFF, 2102px 1215px #FFF, 1327px 2279px #FFF, 1689px 670px #FFF, 992px 769px #FFF, 372px 1994px #FFF, 939px 715px #FFF, 1498px 1674px #FFF, 628px 331px #FFF, 129px 1283px #FFF, 2066px 420px #FFF, 1435px 90px #FFF, 2271px 1831px #FFF, 706px 340px #FFF, 1222px 1287px #FFF, 1224px 1882px #FFF, 314px 1115px #FFF, 190px 253px #FFF, 972px 1343px #FFF, 869px 112px #FFF, 1881px 2285px #FFF, 1709px 958px #FFF, 2040px 2096px #FFF, 1718px 1665px #FFF, 1141px 2170px #FFF, 966px 1216px #FFF, 2198px 1505px #FFF, 1378px 1767px #FFF, 2000px 2245px #FFF, 1685px 1910px #FFF, 2223px 824px #FFF, 2344px 32px #FFF, 964px 1209px #FFF, 1668px 311px #FFF, 209px 993px #FFF, 102px 1918px #FFF, 902px 1218px #FFF, 1447px 2077px #FFF, 798px 195px #FFF, 498px 1948px #FFF, 787px 1491px #FFF, 2232px 926px #FFF, 272px 1427px #FFF, 2402px 245px #FFF, 904px 1396px #FFF, 2469px 1089px #FFF, 984px 360px #FFF, 1355px 1285px #FFF, 213px 345px #FFF, 2292px 734px #FFF, 1294px 1894px #FFF, 1757px 1896px #FFF, 1344px 1385px #FFF, 1271px 192px #FFF, 2491px 1857px #FFF, 2472px 1085px #FFF, 834px 2013px #FFF, 1208px 126px #FFF, 1697px 110px #FFF, 1259px 1881px #FFF, 2084px 1943px #FFF, 1872px 2312px #FFF, 913px 1577px #FFF, 348px 1514px #FFF, 2281px 1925px #FFF, 66px 2221px #FFF, 2116px 968px #FFF, 1163px 606px #FFF, 2104px 1387px #FFF, 509px 90px #FFF, 1799px 1951px #FFF, 1817px 1646px #FFF, 547px 1822px #FFF, 2435px 1862px #FFF, 1087px 1500px #FFF, 1276px 825px #FFF, 1248px 1557px #FFF, 829px 290px #FFF, 1034px 2040px #FFF, 642px 1131px #FFF, 1219px 1194px #FFF, 1725px 836px #FFF, 267px 2424px #FFF, 2338px 149px #FFF, 1971px 2227px #FFF, 1941px 99px #FFF, 1403px 532px #FFF, 548px 207px #FFF, 2153px 1166px #FFF, 1222px 2413px #FFF, 1199px 1483px #FFF, 1568px 1976px #FFF, 464px 1487px #FFF, 2411px 1953px #FFF, 89px 790px #FFF, 1378px 1194px #FFF, 396px 152px #FFF, 518px 1077px #FFF, 1626px 1527px #FFF, 1423px 1925px #FFF, 2116px 137px #FFF, 2462px 909px #FFF, 187px 1923px #FFF, 1921px 518px #FFF, 1817px 1551px #FFF, 415px 2281px #FFF, 2486px 722px #FFF, 531px 813px #FFF, 619px 2043px #FFF, 1515px 803px #FFF, 1869px 1739px #FFF, 2369px 1300px #FFF, 2149px 255px #FFF, 1147px 1753px #FFF, 912px 2172px #FFF, 1808px 1051px #FFF, 1394px 1640px #FFF, 2218px 2402px #FFF, 1062px 274px #FFF, 2053px 472px #FFF, 2268px 2139px #FFF, 1774px 1302px #FFF, 1867px 122px #FFF, 702px 110px #FFF, 974px 917px #FFF, 561px 1092px #FFF, 1346px 1142px #FFF, 36px 1904px #FFF, 1291px 1138px #FFF, 849px 1495px #FFF, 2384px 1976px #FFF, 2249px 93px #FFF, 1134px 1789px #FFF, 776px 2393px #FFF, 228px 1618px #FFF, 1175px 238px #FFF, 2308px 793px #FFF, 1753px 988px #FFF, 1278px 360px #FFF, 1901px 228px #FFF, 2248px 1394px #FFF, 1062px 1692px #FFF, 1745px 1023px #FFF, 1936px 237px #FFF, 1689px 2126px #FFF, 184px 554px #FFF, 1792px 1926px #FFF, 865px 442px #FFF, 2498px 1237px #FFF, 1613px 1665px #FFF, 1749px 2337px #FFF, 2370px 1462px #FFF, 1668px 655px #FFF, 1036px 1369px #FFF, 2001px 2119px #FFF, 1178px 1935px #FFF, 1615px 1766px #FFF, 579px 254px #FFF, 2250px 301px #FFF, 1627px 2031px #FFF, 2045px 143px #FFF, 856px 587px #FFF, 1307px 1867px #FFF, 1823px 1902px #FFF, 695px 1290px #FFF, 504px 400px #FFF, 2016px 1005px #FFF, 2034px 1345px #FFF, 2443px 2165px #FFF, 1030px 314px #FFF, 980px 527px #FFF, 277px 1620px #FFF, 1317px 269px #FFF, 2208px 745px #FFF, 341px 836px #FFF, 364px 1519px #FFF, 1939px 1148px #FFF, 463px 2204px #FFF, 2118px 370px #FFF, 54px 2463px #FFF, 2128px 1976px #FFF, 1866px 1767px #FFF, 1949px 1545px #FFF, 1686px 1820px #FFF, 663px 1989px #FFF, 1574px 336px #FFF, 340px 1626px #FFF, 63px 640px #FFF, 924px 2463px #FFF, 113px 903px #FFF, 998px 2411px #FFF, 741px 1479px #FFF, 1389px 544px #FFF, 2218px 367px #FFF, 1641px 625px #FFF, 849px 364px #FFF, 314px 2025px #FFF, 828px 2268px #FFF, 1138px 429px #FFF, 1727px 1167px #FFF, 1329px 691px #FFF, 579px 1690px #FFF, 1209px 1342px #FFF, 1396px 1516px #FFF, 964px 641px #FFF, 348px 1258px #FFF, 1328px 2221px #FFF, 1388px 2448px #FFF, 2126px 115px #FFF, 703px 2250px #FFF, 201px 789px #FFF, 1774px 2124px #FFF, 1517px 2097px #FFF, 1571px 1681px #FFF, 307px 1807px #FFF, 2243px 2410px #FFF, 987px 1240px #FFF, 216px 1750px #FFF, 2429px 2290px #FFF, 1545px 1185px #FFF, 223px 1183px #FFF, 1634px 1888px #FFF, 1367px 830px #FFF, 2007px 1027px #FFF, 1349px 1047px #FFF, 2482px 706px #FFF, 1713px 970px #FFF, 912px 531px #FFF, 1046px 2498px #FFF, 853px 1090px #FFF, 1266px 727px #FFF, 2204px 942px #FFF, 1231px 1621px #FFF, 2271px 989px #FFF, 736px 1993px #FFF, 784px 926px #FFF, 2453px 1187px #FFF, 2235px 791px #FFF, 200px 1791px #FFF, 180px 2243px #FFF, 1017px 564px #FFF, 291px 1763px #FFF, 437px 1582px #FFF, 193px 2323px #FFF, 1543px 122px #FFF, 280px 448px #FFF, 1063px 686px #FFF, 1875px 2039px #FFF, 1555px 2006px #FFF;
    -webkit-animation: animStar 30s infinite linear;
    -moz-animation: animStar 30s infinite linear;
    animation: animStar 30s infinite linear;
    z-index: -1;
}
.bubl:after {
    content: " ";
    position: absolute;
    top: 2500px;
    width: 2px;
    height: 2px;
    border-radius:100%;
    background: transparent;
    z-index: -1;
    box-shadow: 2032px 449px #FFF, 1683px 605px #FFF, 1522px 2312px #FFF, 250px 2364px #FFF, 1767px 976px #FFF, 1009px 319px #FFF, 1975px 1618px #FFF, 440px 953px #FFF, 446px 1170px #FFF, 1040px 1573px #FFF, 356px 2349px #FFF, 2166px 2440px #FFF, 437px 1437px #FFF, 799px 1422px #FFF, 1567px 1725px #FFF, 2479px 1870px #FFF, 2496px 1062px #FFF, 1618px 1916px #FFF, 2097px 2167px #FFF, 1658px 2168px #FFF, 617px 802px #FFF, 218px 1810px #FFF, 2145px 161px #FFF, 1735px 141px #FFF, 1783px 840px #FFF, 59px 477px #FFF, 1518px 754px #FFF, 2343px 388px #FFF, 1097px 2111px #FFF, 2085px 2473px #FFF, 1694px 1492px #FFF, 2154px 674px #FFF, 840px 1964px #FFF, 1908px 1500px #FFF, 2281px 379px #FFF, 689px 223px #FFF, 453px 2098px #FFF, 559px 651px #FFF, 1504px 2385px #FFF, 440px 8px #FFF, 2263px 54px #FFF, 1400px 760px #FFF, 545px 1922px #FFF, 2401px 577px #FFF, 1943px 578px #FFF, 436px 125px #FFF, 1460px 186px #FFF, 2009px 852px #FFF, 94px 746px #FFF, 508px 535px #FFF, 1328px 373px #FFF, 429px 458px #FFF, 1081px 1977px #FFF, 1181px 349px #FFF, 1855px 1894px #FFF, 2352px 824px #FFF, 2023px 2256px #FFF, 574px 998px #FFF, 137px 2128px #FFF, 1415px 1003px #FFF, 1873px 363px #FFF, 530px 223px #FFF, 2400px 1390px #FFF, 1px 2335px #FFF, 939px 189px #FFF, 183px 135px #FFF, 2460px 1522px #FFF, 2031px 1500px #FFF, 2061px 2134px #FFF, 1853px 1147px #FFF, 1749px 1551px #FFF, 261px 1977px #FFF, 1069px 887px #FFF, 2382px 135px #FFF, 1779px 1448px #FFF, 689px 1788px #FFF, 1936px 919px #FFF, 1099px 1910px #FFF, 403px 1923px #FFF, 410px 2061px #FFF, 1735px 850px #FFF, 1787px 235px #FFF, 2382px 300px #FFF, 2083px 952px #FFF, 1207px 1327px #FFF, 1449px 1120px #FFF, 1009px 357px #FFF, 2328px 815px #FFF, 1298px 1844px #FFF, 382px 1028px #FFF, 691px 1360px #FFF, 1302px 1092px #FFF, 79px 1641px #FFF, 2456px 386px #FFF, 1388px 1605px #FFF, 630px 303px #FFF, 2041px 600px #FFF, 890px 1302px #FFF, 925px 2205px #FFF, 690px 1178px #FFF, 242px 1012px #FFF, 177px 2345px #FFF, 1317px 815px #FFF, 406px 867px #FFF, 726px 806px #FFF, 2450px 164px #FFF, 1771px 767px #FFF, 672px 1144px #FFF, 1946px 972px #FFF, 29px 169px #FFF, 1242px 2377px #FFF, 601px 2485px #FFF, 147px 1745px #FFF, 1240px 265px #FFF, 1212px 906px #FFF, 473px 978px #FFF, 2049px 969px #FFF, 1518px 713px #FFF, 1117px 1436px #FFF, 704px 2177px #FFF, 566px 2426px #FFF, 1691px 1239px #FFF, 727px 2370px #FFF, 2035px 2369px #FFF, 1479px 864px #FFF, 1324px 635px #FFF, 1461px 1450px #FFF, 1083px 1543px #FFF, 2334px 791px #FFF, 2273px 2056px #FFF, 2037px 2452px #FFF, 581px 2px #FFF, 904px 1308px #FFF, 919px 1050px #FFF, 1256px 87px #FFF, 342px 476px #FFF, 442px 388px #FFF, 370px 1954px #FFF, 1749px 2185px #FFF, 2291px 128px #FFF, 491px 754px #FFF, 2108px 1170px #FFF, 1126px 202px #FFF, 2413px 81px #FFF, 1602px 1610px #FFF, 1159px 840px #FFF, 1099px 513px #FFF, 219px 2099px #FFF, 1029px 1791px #FFF, 2298px 462px #FFF, 1900px 7px #FFF, 643px 519px #FFF, 2482px 1855px #FFF, 1662px 1743px #FFF, 154px 2259px #FFF, 194px 628px #FFF, 1090px 2062px #FFF, 2348px 957px #FFF, 1889px 375px #FFF, 1897px 603px #FFF, 2284px 1862px #FFF, 1009px 2458px #FFF, 1795px 2067px #FFF, 1272px 792px #FFF, 2105px 1080px #FFF, 902px 918px #FFF, 1460px 1781px #FFF, 2449px 347px #FFF, 1790px 1584px #FFF, 1926px 412px #FFF, 1467px 2123px #FFF, 750px 1974px #FFF, 1470px 880px #FFF, 139px 111px #FFF, 1315px 573px #FFF, 1743px 1542px #FFF, 2315px 2252px #FFF, 2012px 1147px #FFF, 1041px 1655px #FFF, 811px 2130px #FFF, 342px 1852px #FFF, 1070px 1093px #FFF, 1847px 2174px #FFF, 949px 1003px #FFF, 2393px 1819px #FFF, 1458px 1064px #FFF, 262px 5px #FFF, 1421px 434px #FFF, 103px 200px #FFF, 311px 1650px #FFF, 1409px 114px #FFF, 969px 1975px #FFF, 704px 2438px #FFF, 2341px 946px #FFF, 2032px 692px #FFF, 2136px 1084px #FFF, 1931px 13px #FFF, 683px 417px #FFF, 5px 800px #FFF, 610px 2412px #FFF, 1723px 188px #FFF, 1285px 978px #FFF, 1102px 2056px #FFF, 601px 1035px #FFF, 2185px 1871px #FFF, 2206px 1651px #FFF, 546px 1162px #FFF, 489px 1971px #FFF, 1714px 1617px #FFF, 438px 2058px #FFF, 1079px 1821px #FFF, 2447px 423px #FFF, 2111px 466px #FFF, 716px 638px #FFF, 785px 1738px #FFF, 1092px 1386px #FFF, 636px 1351px #FFF, 842px 2172px #FFF, 2196px 1899px #FFF, 1819px 1012px #FFF, 2267px 2432px #FFF, 554px 293px #FFF, 1524px 1479px #FFF, 2012px 532px #FFF, 2472px 1540px #FFF, 1407px 432px #FFF, 189px 1576px #FFF, 2306px 1068px #FFF, 2496px 405px #FFF, 1744px 990px #FFF, 418px 368px #FFF, 657px 2180px #FFF, 291px 1715px #FFF, 1768px 1759px #FFF, 1807px 1714px #FFF, 356px 2349px #FFF, 2382px 2497px #FFF, 2283px 671px #FFF, 1951px 1177px #FFF, 2425px 2263px #FFF, 1307px 812px #FFF, 339px 2124px #FFF, 1747px 487px #FFF, 1210px 21px #FFF, 1867px 2297px #FFF, 633px 2142px #FFF, 1153px 667px #FFF, 431px 1795px #FFF, 2053px 1303px #FFF, 402px 1932px #FFF, 1540px 1364px #FFF, 1463px 2291px #FFF, 1232px 1188px #FFF, 2229px 2363px #FFF, 864px 1957px #FFF, 863px 891px #FFF, 1536px 139px #FFF, 204px 1149px #FFF, 807px 1772px #FFF, 1294px 1053px #FFF, 1708px 107px #FFF, 337px 693px #FFF, 2374px 2293px #FFF, 771px 1058px #FFF, 843px 1539px #FFF, 1180px 181px #FFF, 2045px 1341px #FFF, 1858px 1099px #FFF, 1004px 1423px #FFF, 232px 644px #FFF, 1659px 254px #FFF, 1792px 1066px #FFF, 2179px 1014px #FFF, 2338px 159px #FFF, 281px 2328px #FFF, 1450px 1022px #FFF, 2025px 893px #FFF, 2340px 234px #FFF, 1765px 799px #FFF, 1344px 2206px #FFF, 1206px 2437px #FFF, 1306px 771px #FFF, 1018px 2024px #FFF, 1626px 2469px #FFF, 273px 1175px #FFF, 1758px 905px #FFF, 1049px 2127px #FFF, 990px 338px #FFF, 653px 1483px #FFF, 1435px 1550px #FFF, 1556px 851px #FFF, 1011px 2359px #FFF, 1922px 1315px #FFF, 2401px 1371px #FFF, 976px 43px #FFF, 78px 1243px #FFF, 2408px 498px #FFF, 493px 637px #FFF, 292px 1373px #FFF, 1994px 657px #FFF, 1017px 1663px #FFF, 2456px 1257px #FFF, 414px 2020px #FFF, 441px 175px #FFF, 1020px 632px #FFF, 1455px 1396px #FFF, 510px 720px #FFF, 437px 66px #FFF, 150px 845px #FFF, 819px 60px #FFF, 986px 1052px #FFF, 960px 1107px #FFF, 615px 2381px #FFF, 2014px 282px #FFF, 98px 1754px #FFF, 854px 1685px #FFF, 2367px 935px #FFF, 1102px 1327px #FFF, 46px 347px #FFF, 2171px 1007px #FFF, 595px 527px #FFF, 1482px 1098px #FFF, 923px 2105px #FFF, 687px 2145px #FFF, 988px 123px #FFF, 2174px 2388px #FFF, 2381px 2460px #FFF, 1656px 2273px #FFF, 1545px 2292px #FFF, 919px 1437px #FFF, 165px 249px #FFF, 600px 1102px #FFF, 1759px 1521px #FFF, 1941px 271px #FFF, 1457px 2232px #FFF, 1091px 130px #FFF, 1380px 55px #FFF, 419px 2410px #FFF, 1011px 14px #FFF, 1042px 1034px #FFF, 1241px 501px #FFF, 2421px 2485px #FFF, 346px 1074px #FFF, 1388px 1692px #FFF, 2331px 373px #FFF, 942px 2325px #FFF, 1058px 21px #FFF, 86px 1965px #FFF, 651px 1372px #FFF, 2291px 108px #FFF, 606px 868px #FFF, 1044px 605px #FFF, 1318px 2357px #FFF, 1813px 1383px #FFF, 1964px 1372px #FFF, 1786px 1530px #FFF, 2427px 791px #FFF, 224px 1539px #FFF, 965px 1662px #FFF, 427px 944px #FFF, 1965px 1325px #FFF, 131px 1544px #FFF, 2228px 1700px #FFF, 1982px 1841px #FFF, 2381px 1272px #FFF, 899px 1781px #FFF, 320px 2298px #FFF, 1145px 1483px #FFF, 844px 1431px #FFF, 2379px 1967px #FFF, 1941px 1174px #FFF, 2283px 1582px #FFF, 54px 1107px #FFF, 1235px 1609px #FFF, 2244px 1583px #FFF, 1949px 1689px #FFF, 45px 1812px #FFF, 1306px 48px #FFF, 1909px 69px #FFF, 1469px 1556px #FFF, 453px 832px #FFF, 286px 327px #FFF, 1898px 255px #FFF, 2393px 530px #FFF, 632px 1085px #FFF, 1391px 1673px #FFF, 1238px 2318px #FFF, 1404px 2410px #FFF, 2257px 765px #FFF, 441px 1171px #FFF, 813px 398px #FFF, 1795px 1317px #FFF, 1166px 2102px #FFF, 1739px 1122px #FFF, 1326px 2219px #FFF, 1931px 2292px #FFF, 1247px 271px #FFF, 782px 621px #FFF, 66px 644px #FFF, 492px 2008px #FFF, 429px 762px #FFF, 1198px 173px #FFF, 171px 439px #FFF, 2059px 2219px #FFF, 916px 725px #FFF, 2488px 1438px #FFF, 1096px 1783px #FFF, 2247px 622px #FFF, 2297px 1566px #FFF, 1043px 352px #FFF, 445px 542px #FFF, 2225px 2165px #FFF, 2229px 588px #FFF, 962px 346px #FFF, 1948px 2382px #FFF, 1213px 1640px #FFF, 272px 1898px #FFF, 46px 1685px #FFF, 1001px 1990px #FFF, 2409px 743px #FFF, 1272px 672px #FFF, 1106px 1215px #FFF, 1488px 1730px #FFF, 79px 356px #FFF, 83px 996px #FFF, 2162px 1366px #FFF, 1327px 1279px #FFF, 1430px 676px #FFF, 756px 159px #FFF, 604px 174px #FFF, 24px 1055px #FFF, 1737px 872px #FFF, 1464px 1150px #FFF, 1257px 1902px #FFF, 1870px 1019px #FFF, 2028px 989px #FFF, 853px 2217px #FFF, 678px 2291px #FFF, 224px 435px #FFF, 8px 331px #FFF, 1774px 1753px #FFF, 472px 2102px #FFF, 497px 334px #FFF, 1022px 1498px #FFF, 2114px 1233px #FFF, 845px 1275px #FFF, 1988px 1705px #FFF, 124px 477px #FFF, 73px 155px #FFF, 1116px 1745px #FFF, 200px 2030px #FFF, 1878px 419px #FFF, 2102px 1215px #FFF, 1327px 2279px #FFF, 1689px 670px #FFF, 992px 769px #FFF, 372px 1994px #FFF, 939px 715px #FFF, 1498px 1674px #FFF, 628px 331px #FFF, 129px 1283px #FFF, 2066px 420px #FFF, 1435px 90px #FFF, 2271px 1831px #FFF, 706px 340px #FFF, 1222px 1287px #FFF, 1224px 1882px #FFF, 314px 1115px #FFF, 190px 253px #FFF, 972px 1343px #FFF, 869px 112px #FFF, 1881px 2285px #FFF, 1709px 958px #FFF, 2040px 2096px #FFF, 1718px 1665px #FFF, 1141px 2170px #FFF, 966px 1216px #FFF, 2198px 1505px #FFF, 1378px 1767px #FFF, 2000px 2245px #FFF, 1685px 1910px #FFF, 2223px 824px #FFF, 2344px 32px #FFF, 964px 1209px #FFF, 1668px 311px #FFF, 209px 993px #FFF, 102px 1918px #FFF, 902px 1218px #FFF, 1447px 2077px #FFF, 798px 195px #FFF, 498px 1948px #FFF, 787px 1491px #FFF, 2232px 926px #FFF, 272px 1427px #FFF, 2402px 245px #FFF, 904px 1396px #FFF, 2469px 1089px #FFF, 984px 360px #FFF, 1355px 1285px #FFF, 213px 345px #FFF, 2292px 734px #FFF, 1294px 1894px #FFF, 1757px 1896px #FFF, 1344px 1385px #FFF, 1271px 192px #FFF, 2491px 1857px #FFF, 2472px 1085px #FFF, 834px 2013px #FFF, 1208px 126px #FFF, 1697px 110px #FFF, 1259px 1881px #FFF, 2084px 1943px #FFF, 1872px 2312px #FFF, 913px 1577px #FFF, 348px 1514px #FFF, 2281px 1925px #FFF, 66px 2221px #FFF, 2116px 968px #FFF, 1163px 606px #FFF, 2104px 1387px #FFF, 509px 90px #FFF, 1799px 1951px #FFF, 1817px 1646px #FFF, 547px 1822px #FFF, 2435px 1862px #FFF, 1087px 1500px #FFF, 1276px 825px #FFF, 1248px 1557px #FFF, 829px 290px #FFF, 1034px 2040px #FFF, 642px 1131px #FFF, 1219px 1194px #FFF, 1725px 836px #FFF, 267px 2424px #FFF, 2338px 149px #FFF, 1971px 2227px #FFF, 1941px 99px #FFF, 1403px 532px #FFF, 548px 207px #FFF, 2153px 1166px #FFF, 1222px 2413px #FFF, 1199px 1483px #FFF, 1568px 1976px #FFF, 464px 1487px #FFF, 2411px 1953px #FFF, 89px 790px #FFF, 1378px 1194px #FFF, 396px 152px #FFF, 518px 1077px #FFF, 1626px 1527px #FFF, 1423px 1925px #FFF, 2116px 137px #FFF, 2462px 909px #FFF, 187px 1923px #FFF, 1921px 518px #FFF, 1817px 1551px #FFF, 415px 2281px #FFF, 2486px 722px #FFF, 531px 813px #FFF, 619px 2043px #FFF, 1515px 803px #FFF, 1869px 1739px #FFF, 2369px 1300px #FFF, 2149px 255px #FFF, 1147px 1753px #FFF, 912px 2172px #FFF, 1808px 1051px #FFF, 1394px 1640px #FFF, 2218px 2402px #FFF, 1062px 274px #FFF, 2053px 472px #FFF, 2268px 2139px #FFF, 1774px 1302px #FFF, 1867px 122px #FFF, 702px 110px #FFF, 974px 917px #FFF, 561px 1092px #FFF, 1346px 1142px #FFF, 36px 1904px #FFF, 1291px 1138px #FFF, 849px 1495px #FFF, 2384px 1976px #FFF, 2249px 93px #FFF, 1134px 1789px #FFF, 776px 2393px #FFF, 228px 1618px #FFF, 1175px 238px #FFF, 2308px 793px #FFF, 1753px 988px #FFF, 1278px 360px #FFF, 1901px 228px #FFF, 2248px 1394px #FFF, 1062px 1692px #FFF, 1745px 1023px #FFF, 1936px 237px #FFF, 1689px 2126px #FFF, 184px 554px #FFF, 1792px 1926px #FFF, 865px 442px #FFF, 2498px 1237px #FFF, 1613px 1665px #FFF, 1749px 2337px #FFF, 2370px 1462px #FFF, 1668px 655px #FFF, 1036px 1369px #FFF, 2001px 2119px #FFF, 1178px 1935px #FFF, 1615px 1766px #FFF, 579px 254px #FFF, 2250px 301px #FFF, 1627px 2031px #FFF, 2045px 143px #FFF, 856px 587px #FFF, 1307px 1867px #FFF, 1823px 1902px #FFF, 695px 1290px #FFF, 504px 400px #FFF, 2016px 1005px #FFF, 2034px 1345px #FFF, 2443px 2165px #FFF, 1030px 314px #FFF, 980px 527px #FFF, 277px 1620px #FFF, 1317px 269px #FFF, 2208px 745px #FFF, 341px 836px #FFF, 364px 1519px #FFF, 1939px 1148px #FFF, 463px 2204px #FFF, 2118px 370px #FFF, 54px 2463px #FFF, 2128px 1976px #FFF, 1866px 1767px #FFF, 1949px 1545px #FFF, 1686px 1820px #FFF, 663px 1989px #FFF, 1574px 336px #FFF, 340px 1626px #FFF, 63px 640px #FFF, 924px 2463px #FFF, 113px 903px #FFF, 998px 2411px #FFF, 741px 1479px #FFF, 1389px 544px #FFF, 2218px 367px #FFF, 1641px 625px #FFF, 849px 364px #FFF, 314px 2025px #FFF, 828px 2268px #FFF, 1138px 429px #FFF, 1727px 1167px #FFF, 1329px 691px #FFF, 579px 1690px #FFF, 1209px 1342px #FFF, 1396px 1516px #FFF, 964px 641px #FFF, 348px 1258px #FFF, 1328px 2221px #FFF, 1388px 2448px #FFF, 2126px 115px #FFF, 703px 2250px #FFF, 201px 789px #FFF, 1774px 2124px #FFF, 1517px 2097px #FFF, 1571px 1681px #FFF, 307px 1807px #FFF, 2243px 2410px #FFF, 987px 1240px #FFF, 216px 1750px #FFF, 2429px 2290px #FFF, 1545px 1185px #FFF, 223px 1183px #FFF, 1634px 1888px #FFF, 1367px 830px #FFF, 2007px 1027px #FFF, 1349px 1047px #FFF, 2482px 706px #FFF, 1713px 970px #FFF, 912px 531px #FFF, 1046px 2498px #FFF, 853px 1090px #FFF, 1266px 727px #FFF, 2204px 942px #FFF, 1231px 1621px #FFF, 2271px 989px #FFF, 736px 1993px #FFF, 784px 926px #FFF, 2453px 1187px #FFF, 2235px 791px #FFF, 200px 1791px #FFF, 180px 2243px #FFF, 1017px 564px #FFF, 291px 1763px #FFF, 437px 1582px #FFF, 193px 2323px #FFF, 1543px 122px #FFF, 280px 448px #FFF, 1063px 686px #FFF, 1875px 2039px #FFF, 1555px 2006px #FFF
}

@-webkit-keyframes animStar {
    from {
        -webkit-transform: translateY(0px)
    }
    to {
        -webkit-transform: translateY(-2500px)
    }
}
@-moz-keyframes animStar {
    from {
        -moz-transform: translateY(0px)
    }
    to {
        -moz-transform: translateY(-2500px)
    }
}
@keyframes animStar {
    from {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    to {
        -webkit-transform: translateY(-2500px);
        -moz-transform: translateY(-2500px);
        -ms-transform: translateY(-2500px);
        -o-transform: translateY(-2500px);
        transform: translateY(-2500px)
    }
}